// basic Settings

:root{
    // Will handle the px -> rem problem
    // 1rem = 16px by using 62.5% is 1rem = 10px so you dont need to re-calculate between px and rem
    font-size: 62.5%;

    // CSS Variables
    --primary-CSS: #242628;
    --secondary-CSS: #ededed;
    --highlight-CSS: #5b00aa;
    --smallspace-CSS: 0.5rem;
    --mediumspace-CSS: 1rem;
    --largespace-CSS: 1.5rem;

    // SCSS Variables
    $primary-SCSS: #242628;
    $secondary-SCSS: #ededed;
    $highlight-SCSS: #5b00aa;
    $smallspace-SCSS: 0.5rem;
    $mediumspace-SCSS: 1rem;
    $largespace-SCSS: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Mixin Logic
  @import "./partials/mixin";

  

// Styles

body{
    background-color: #777;
    font-size: 1.6rem; // 16px
    main{
        section{
            @include flex;
            width: 80%;
            height: 90vh;
            margin: var(--largespace-CSS) auto;
            padding: var(--smallspace-CSS);
            border: solid 1px;
        
            button{
                @include border;
                @include spacer;
                width: 48%;
                font-size: 3rem;
                font-weight: 600;
                border: solid;
            }

            .btn_dark{
                background-color: var(--primary-CSS);
                color: var(--secondary-CSS);
            }

            .btn_light{
                background-color: var(--secondary-CSS);
                color: var(--primary-CSS);
            //   background-color: $secondary-SCSS;
            //   color: $primary-SCSS;
            }

            p{
                @include spacer;
            }
          }
    }
}


  
  